{% extends 'base.html' %}

{% block content %}

<h1>⚖️ Audiencias</h1>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="expediente" placeholder="Expediente ID">
    <input type="date" name="fecha">
    <input type="time" name="hora">
    <input type="text" name="juzgado" placeholder="Juzgado">
    <input type="text" name="tipo" placeholder="Tipo">

    <br><br>

    <button style="background:#22c55e; padding:10px; border:none; border-radius:8px; color:white;">
        + Agregar Audiencia
    </button>
</form>

<br><br>

{% for audiencia in audiencias %}
<div style="background:#1e293b; padding:15px; margin-bottom:10px; border-radius:10px; color:white;">

    {{ audiencia.juzgado }} - {{ audiencia.fecha }}

    <a href="/eliminar_audiencia/{{ audiencia.id }}/"
       onclick="return confirm('¿Eliminar esta audiencia?')">

        <button 
        style="background:#ef4444; float:right; color:white; border:none; padding:6px 12px; border-radius:8px; font-size:13px; cursor:pointer;"
        onmouseover="this.style.background='#dc2626'"
        onmouseout="this.style.background='#ef4444'">
            🗑 Eliminar
        </button>

    </a>

</div>
{% endfor %}

{% endblock %}
